<%- include("component/headers.ejs") %>
    <main class="w-[90%] mx-auto my-4">
        <nav class="flex w-[300px] mx-auto flex justify-center border p-3 rounded-xl bg-gray-300"
            aria-label="Breadcrumb">
            <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
                <li class="inline-flex items-center">
                    <a href="/" class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-600">
                        <svg class="w-3 h-3 me-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                            fill="currentColor" viewBox="0 0 20 20">
                            <path
                                d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z" />
                        </svg>
                        Home
                    </a>
                </li>
                <li>
                    <div class="flex items-center">
                        <svg class="rtl:rotate-180 w-3 h-3 text-gray-400 mx-1" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="m1 9 4-4-4-4" />
                        </svg>
                        <a href="/tambahakun"
                            class="ms-1 text-sm font-medium text-gray-700 hover:text-blue-600 md:ms-2">
                            Edit
                            akun
                        </a>
                    </div>
                </li>
            </ol>
        </nav>
        <div class="max-w-sm mx-auto bg-white shadow-xl p-4 mt-4">
            <h1 class="text-center text-sm font-bold">Edit akun</h1>
            <div class="mb-5">
                <input id="items" class="hidden" type="text" value="<% data._id.toString() %>">
                <label for="email" class="block mb-2 text-sm font-medium text-gray-900">
                    email</label>
                <input type="text" id="email"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "
                    placeholder="email" value="<%= data.email %>" required />
            </div>
            <div class="mb-5">
                <label for="password" class="block mb-2 text-sm font-medium text-gray-900">
                    password</label>
                <input value="<%= data.password  %>" type="password" id="password" placeholder="password"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" />
            </div>
            <div class="mb-5">
                <label for="group" class="block mb-2 text-sm font-medium text-gray-900">
                    nama group</label>
                <input type="group" value="<%= data.groupName %>" id="group" placeholder="group"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" />
            </div>
            <div class="mb-5">
                <label for="status" class="block mb-2 text-sm font-medium text-gray-900">
                    status</label>
                <input value="<%= data.status  %>" type="status" id="status" placeholder="status"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" />
            </div>
            <div class="mb-5">
                <label for="category" class="block mb-2 text-sm font-medium text-gray-900">
                    category</label>
                <select id="category"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 ">
                    <option selected>pilih kategori</option>
                    <option value="FREE">FREE</option>
                    <option value="ORDERAN">ORDERAN</option>
                    <option value="ONHOLD">ONHOLD</option>
                    <option value="INVALID">INVALID</option>
                    <option value="WIPE">WIPE</option>
                    <option value="MOVE">MOVE</option>

                </select>
            </div>
            <div class="mb-5">
                <label for="order_date" class="block mb-2 text-sm font-medium text-gray-900">
                    order-date</label>
                <input value="<%= data.orderDate  %>" type="date" id="order_date"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" />
            </div>
            <div class="mb-5">
                <label for="expired_date" class="block mb-2 text-sm font-medium text-gray-900">
                    expired-date</label>
                <input value="<%= data.orderDate  %>" type="date" id="expired_date"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" />
            </div>
            <div class="w-full flex justify-center">
                <button id="submit"
                    class="text-white w-[300px] mx-auto bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center">
                    Edit akun
                </button>
            </div>
            <div id="loading" class="hidden text-center font-bold">LOADING...</div>
        </div>
    </main>
    <script>
        $(document).ready(() => {
            $("#submit").click(() => {
                $("#loading").removeClass("hidden");
                var email = $("#email").val();
                var password = $("#password").val();
                var group = $("#group").val();
                var status = $("#status").val();
                var category = $("#category").val();
                var order_date = $("#order_date").val();
                var expired_date = $("#expired_date").val();
                var items = window.location.pathname;
                const accId = items.split("/")
                const id = accId[accId.length - 1];
                const data = {
                    email: email,
                    password: password,
                    groupname: group,
                    status: status,
                    category: category,
                    orderdate: order_date,
                    expireddate: expired_date
                }
                console.log(items);
                $.ajax({
                    url: "/editaccount/" + id,
                    data: JSON.stringify(data),
                    method: "PATCH",
                    contentType: "application/json",
                    success: function (response) {
                        $("#loading").addClass("hidden");
                        alert("Berhasil edit account akun")
                        // window.location.reload()
                    },
                    error: (res) => {
                        alert("Gagal edit account")
                        $("#loading").addClass("hidden");
                    }
                })
            })
        })
    </script>
    <%- include("component/footer.ejs") %>